<h3>Add a Comment: </h3>
<%= form_with model: [@article, @comment] do |form| %>
  <div class="comment-field">
    <%= form.rich_text_area :body, placeholder: "Write something..." %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn-default btn-success' %>
  </div>
<% end %>