<div class="main-baner">
  <div class="text-size">
    <h1 class="lead font-playfair">Title of a longer featured blog post</h1>
    <p class="lead">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    <p class="lead"><a href="#" class="text-white">Continue reading...</a></p>
  </div>
</div>