<div class="painel">
  <h2>
    <span>Articles</span>
  </h2>

  <% if can? :create, Article %>
    <%= link_to 'New Article', new_article_path, :class => "btn-default btn-primary btn-lg" %>
  <% end %>
</div>

<div class="main">
  <div class="article">
    <%= render @articles%>
  </div>

  <div class="sidenav">
    Side
  </div>

</div>