<div class="painel">
  <% if can? :create, Article %>
    <%= link_to 'New Article', new_article_path, :class => "btn-default btn-primary btn-lg" %>
  <% end %>
</div>

<div>
  <%= render 'articles/main-baner' %>
</div>

<div class="main">
  <div class="article">
    <%= render @articles %>
  </div>

  <div class="sidenav">
    Side
  </div>
</div>