<h1 class="main-title">Editing Role</h1>

<%= render 'form', role: @role %>

<%= link_to 'Show', @role, :class => 'btn-default btn-primary' %> |
<%= link_to 'Back', roles_path, :class => 'btn-default' %>
