/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require actiontext
 */


:root {
    --color-danger: #c50000;
    --color-success: #028002;
    --color-primary: #2f7fe7;
    --color-link-secondary: #565E68;
    --color-text-dark: #212529;
    --color-text-light: #fff;
    --color-text-grey: #e5e5e5;
    --color-background-grey: #F9F9F9;
    --color-text-grey-bold: #70757D;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-font-playfair: 'Playfair Display', serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--bs-font-sans-serif);
}

body, html {
    height: 100%;
}

a, ul, li {
    list-style: none;
}

.container {
    width: 80%;
    min-height: 75%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7em 0;
    border-bottom: 1px solid var(--color-text-grey);
}

.link-secondary {
    color: var(--color-link-secondary);
}

.link-secondary:hover {
    text-decoration: none;
}

.header-brand {
    color: var(--color-text-dark);
    font-size: 2.2em;
    font-weight: bold;
}

.header-menu-items {
    display: flex;
    gap: 10px;
}

/*
 * Utilitarios
 */

.font-playfair {
    font-family: var(--bs-font-playfair);
}

.right {
    text-align: end;
}

.text-white {
    color: var(--color-text-light);
}


.btn-default {
    text-decoration: none;
    padding: .2em .5em;
    border-radius: 5px;
    color: var(--color-text-dark);
    border: 1px solid var(--color-text-dark);
    font-weight: bold;
    font-size: 1em;
}

.btn-sm {
    font-size: 0.8em;
    padding: .1em .5em;
}

.btn-lg {
    font-size: 1.2em;
    padding: 0.7em 1.2em;
}

.btn-block {
    width: 100%;
}

.btn-outline-secondary {
    border: 1px solid var(--color-link-secondary);
    color: var(--color-link-secondary);
}

.btn-outline-secondary:hover {
    background-color: var(--color-link-secondary);
    color: var(--color-text-light);
}

.btn-danger {
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
    background: none;
}

.btn-danger:hover {
    background-color: var(--color-danger);
    color: var(--color-text-light);
}

.btn-success {
    color: var(--color-success);
    border: 1px solid var(--color-success);
    background: none;
}

.btn-success:hover {
    background-color: var(--color-success);
    color: var(--color-text-light);
}

.btn-primary {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background: none;
}

.btn-primary:hover {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.btn-mobile {
    display: none;
}

.footer {
    padding: 60px 0;
    text-align: center;
    background-color: var(--color-background-grey);
    border-top: 1px solid var(--color-text-grey);
    margin-top: 20px;
}

/*
 * Devise css
 */

.login {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.login-field {
    flex: 1 1 200px;
    padding: 50px;
    margin: auto;
    text-align: center;
}

.login-side {
    flex: 1 1 300px;
    background: var(--color-primary);
    width: 100vw;
    min-height: 80vh;
}

.login-form {
    padding: 70px 10px;
    border-radius: 10px;
    border: 1px solid var(--color-text-grey);
    margin-bottom: 10px;
}

.login-input {
    border-radius:4px;
    background: var(--color-text-light);
    border: 1px solid var(--color-text-grey);
    padding: 8px;
    width: calc(100% - 16px);
    font-size:1em;
    margin-top: 5px;
}

.field {
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.table, th, td {
    border: 1px solid var(--color-text-grey);
    padding: 5px;
}

.table {
    border-collapse: collapse;
    margin-top: 10px;
}

@media (max-width: 700px) {
    .btn-mobile {
        display: block;
        border: none;
        background: none;
    }

    .header-menu-items {
        display: block;
        position: absolute;
        width: 80%;
        padding: 5px 0;
        top: 73px;
        background-color: var(--color-text-light);
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    .nav.active .header-menu-items {
        height: calc(100vh - 70px);
        visibility: visible;
    }

    .hamburger {
        border-top: 2px solid black;
        width: 20px;
    }

    .hamburger::after, .hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}