// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.painel {
    margin: 20px 0;
    text-align: end;
}

.main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main .article {
    flex: 1 1 550px;
}

.main .sidenav {
    flex: 1 1 150px;
}

div.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 20px;
}

.main-title {
    font-style: italic;
    font-size: 1.8em;
    color: var(--color-text-dark);
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-text-grey);
}

.main-baner {
    background-color: var(--color-text-dark);
    color: var(--color-text-light);
    height: 20em;
    border-radius: .3em;
    padding: 3.5em;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.2em;
    margin-top: 10px;
}

.text-size {
    width: 50%;
}

.text-size > h1 {
    font-size: 3em;
}

.text-body {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.text-footer {
    margin-bottom: 30px;
    text-align: end;
}

.text-author {
    margin-bottom: 10px;
}

.card {
    border: 1px solid var(--color-text-grey);
    margin: 10px 0;
    padding: 0 20px 30px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 5px;
}

.article-field {
    margin: 10px 0;
}

.article-actions {
    display: flex;
}

@media (max-width: 1100px) {
    .text-size {
        width: 75%;
    }
}

@media (max-width: 800px) {
    .text-size {
        width: 100%;
        font-size: 0.9em;
    }
}